*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/src/main/cpp/vendors/aarch64-linux-android/
app/src/main/cpp/vendors/arm-linux-androideabi/
app/src/main/cpp/vendors/armv7-linux-androideabi/
app/src/main/cpp/vendors/i686-linux-android/
app/src/main/cpp/vendors/x86_64-linux-android/
