<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../../../chain_impl_mockchain/testing/scenario/template/struct.WalletTemplateBuilder.html">
    <title>Redirection</title>
</head>
<body>
    <p>Redirecting to <a href="../../../../../chain_impl_mockchain/testing/scenario/template/struct.WalletTemplateBuilder.html">../../../../../chain_impl_mockchain/testing/scenario/template/struct.WalletTemplateBuilder.html</a>...</p>
    <script>location.replace("../../../../../chain_impl_mockchain/testing/scenario/template/struct.WalletTemplateBuilder.html" + location.search + location.hash);</script>
</body>
</html>