version: 2.1
executors:
  rust-stable:
    docker:
      - image: 'cimg/rust:1.53.0-node'
    working_directory: /home/circleci/build
    resource_class: xlarge
jobs:
  build_all_targets:
    description: Builds all test features
    docker:
      - image: 'cimg/rust:1.53.0-node'
    parameters:
      mode:
        type: string
        default: ''
      cargo_behavior:
        type: string
        default: '--verbose'
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Print version information
          command: rustc --version; cargo --version
      - run:
          name: install build reqs
          command: |
            sudo apt update && sudo apt upgrade -y
            sudo apt install build-essential libssl-dev pkg-config    
      - run:
          name: Run tests build
          no_output_timeout: 60m
          environment:
            RUST_BACKTRACE: 1
          command: cargo test --all-features --no-run --jobs 1
  vitup_test:
    description: Steps for the vitup unit test jobs
    docker:
      - image: 'cimg/rust:1.53.0-node'
    parameters:
      mode:
        type: string
        default: ''
      cargo_behavior:
        type: string
        default: '--verbose'
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Print version information
          command: rustc --version; cargo --version
      - run:
          name: install build reqs
          command: |
            sudo apt update && sudo apt upgrade -y
            sudo apt install build-essential libssl-dev pkg-config    
      - run:
          name: checkout jormungandr
          command: |
            git clone https://github.com/input-output-hk/jormungandr.git
            cd jormungandr
            git checkout catalyst-fund6
      - run:
          name: install jormungandr
          command: |
            cd jormungandr
            cargo install --path jormungandr --locked
            cargo install --path jcli --locked
      - run:
          name: checkout vit-station-service
          command: >
            git clone
            https://github.com/input-output-hk/vit-servicing-station.git

            cd vit-servicing-station

            git checkout catalyst-fund6
      - run:
          name: install vit-station-service
          command: |
            cd vit-servicing-station
            cargo install --path vit-servicing-station-server --locked
      - run:
          name: install iapyx utils
          command: |
            cargo install --path iapyx --locked                  
      - run:
          name: Run tests
          no_output_timeout: 60m
          environment:
            RUST_BACKTRACE: 1
          command: |
            cd vitup
            cargo test --jobs 1 -- --test-threads=1
  test_debug:
    executor: rust-stable
    environment:
      RUSTFLAGS: '-D warnings'
      CARGO_INCREMENTAL: 0
    steps:
      - test
commands:
  test:
    description: Steps for the test jobs
    parameters:
      mode:
        type: string
        default: ''
      cargo_behavior:
        type: string
        default: '--verbose'
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: install build reqs
          command: |
            sudo apt update && sudo apt upgrade -y
            sudo apt install build-essential libssl-dev pkg-config    
      - run:
          name: Print version information
          command: rustc --version; cargo --version
      - run:
          name: install build reqs
          command: |
            sudo apt update && sudo apt upgrade -y
            sudo apt install build-essential libssl-dev pkg-config    
      - run:
          name: checkout jormungandr
          command: |
            git clone https://github.com/input-output-hk/jormungandr.git
            cd jormungandr
            git checkout catalyst-fund6
      - run:
          name: install jormungandr
          command: |
            cd jormungandr
            cargo install --path jormungandr --locked
            cargo install --path jcli --locked
      - run:
          name: checkout vit-station-service
          command: >
            git clone
            https://github.com/input-output-hk/vit-servicing-station.git

            cd vit-servicing-station

            git checkout catalyst-fund6
      - run:
          name: install vit-station-service
          command: |
            cd vit-servicing-station
            cargo install --path vit-servicing-station-server --locked
      - run:
          name: install iapyx utils
          command: |
            cargo install --path iapyx --locked
      - run:
          name: Run tests
          no_output_timeout: 60m
          environment:
            RUST_BACKTRACE: 1
          command: |
            cargo test --jobs 1 -- --test-threads=1
workflows:
  version: 2
  test_all:
    jobs:
      - test_debug
      - vitup_test
      - build_all_targets
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - test_debug
