#! /bin/sh

# power users can choose a different devshell target
[[ -f .envrc.local ]] && source_env .envrc.local
DEVSHELL_TARGET=${DEVSHELL_TARGET:-dev}

source "$(nix eval .#__std.direnv_lib)"
use std cells //automation/devshells:${DEVSHELL_TARGET}
