<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../chain_impl_mockchain/block/type.BlockContentSize.html">
    <title>Redirection</title>
</head>
<body>
    <p>Redirecting to <a href="../../../chain_impl_mockchain/block/type.BlockContentSize.html">../../../chain_impl_mockchain/block/type.BlockContentSize.html</a>...</p>
    <script>location.replace("../../../chain_impl_mockchain/block/type.BlockContentSize.html" + location.search + location.hash);</script>
</body>
</html>