# Start a local development postgres-14 DB
# Default username/password = postgres:postgres
version: '3.1'

services:

  db:
    image: postgres:14
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: CatalystEventDev
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 2s
      timeout: 5s
      retries: 10
    ports:
      - 5432:5432

  migrations:
    image: migrations:latest
    environment:
      # Required environment variables for migrations
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=CatalystEventDev
      - DB_SUPERUSER=postgres
      - DB_SUPERUSER_PASSWORD=postgres
      - DB_USER=catalyst-event-dev
      - DB_USER_PASSWORD=CHANGE_ME
      - ADMIN_ROLE_PASSWORD=CHANGE_ME
      - ADMIN_USER_PASSWORD=CHANGE_ME
      - ANON_ROLE_PASSWORD=CHANGE_ME
    depends_on:
      db:
        condition: service_healthy

  graphql:
    image: event-db-graphql:latest
    environment:
      - DATABASE_URL=postgres://catalyst-event-dev:CHANGE_ME@db/CatalystEventDev
      - JWT_SECRET=CHANGE_ME
      - GRAPHQL_PORT=5000
      - PGHOST=db
      - PGPORT=5432
      - PGUSER=catalyst-event-dev
      - PGPASSWORD=CHANGE_ME
      - PGDATABASE=CatalystEventDev
    ports:
      - 5000:5000
    depends_on:
      migrations:
        condition: service_completed_successfully

  adminer:
    image: adminer
    restart: always
    depends_on:
      - db
    ports:
      - 8080:8080
