# Start a local development postgres-14 DB
# Default username/password = postgres:postgres
version: '3.1'

services:

  db:
    image: postgres:14
    restart: always
    environment:
      - POSTGRES_PASSWORD=CHANGE_ME
      - POSTGRES_USER=catalyst-event-dev
      - POSTGRES_DB=CatalystEventDev
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 1s
      timeout: 5s
      retries: 10

  migrations:
    image: migrations:latest
    environment:
      - DATABASE_URL=postgres://catalyst-event-dev:CHANGE_ME@db/CatalystEventDev
      - PGHOST=db
      - PGPORT=5432
      - PGUSER=catalyst-event-dev
      - PGPASSWORD=CHANGE_ME
      - PGDATABASE=CatalystEventDev
    depends_on:
      db:
        condition: service_healthy

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    depends_on:
      db:
        condition: service_healthy

  graphql:
    image: event-db-graphql:latest
    environment:
      - DATABASE_URL=postgres://catalyst-event-dev:CHANGE_ME@db/CatalystEventDev
      - JWT_SECRET=CHANGE_ME
      - GRAPHQL_PORT=5000
      - PGHOST=db
      - PGPORT=5432
      - PGUSER=catalyst-event-dev
      - PGPASSWORD=CHANGE_ME
      - PGDATABASE=CatalystEventDev
    ports:
      - 5000:5000
    depends_on:
      migrations:
        condition: service_completed_successfully
