[package]
name = "valgrind"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
jormungandr-lib = { path = "../../jormungandr/jormungandr-lib" }
jormungandr-automation = { path = "../../jormungandr/testing/jormungandr-automation" }
wallet = { path = "../../chain-wallet-libs/wallet" }
wallet-core = { path = "../../chain-wallet-libs/bindings/wallet-core" }
hex = "0.4"
itertools = "0.10.3"
thiserror = "1.0"
serde = { version = "1", features = ["derive"] }
regex = "*"
tokio = { version = "1.4", features = ["macros","rt","rt-multi-thread"] }
hyper = "0.13.6"
warp = "0.3"
serde_json = "1.0"
warp-reverse-proxy = "0.3.2"
structopt = "0.3"
jortestkit = { path = "../../jortestkit" }
vit-servicing-station-tests = { path = "../../vit-servicing-station/vit-servicing-station-tests" }
vit-servicing-station-lib = { path = "../../vit-servicing-station/vit-servicing-station-lib" }
chain-core           = { path = "../../chain-libs/chain-core" }
chain-crypto         = { path = "../../chain-libs/chain-crypto", features = [ "property-test-api" ] }
chain-impl-mockchain = { path = "../../chain-libs/chain-impl-mockchain", features = [ "property-test-api" ] }
chain-ser  = { path = "../../chain-libs/chain-ser" }
chain-time = { path = "../../chain-libs/chain-time" }
chain-vote = { path = "../../chain-libs/chain-vote" }
chain-addr = { path = "../../chain-libs/chain-addr" }
url = "2.2.2"

[dependencies.reqwest]
version = "0.11"
default-features = false
features = ["blocking", "rustls-tls", "json"]

