version: "3"

services:
  postgres:
    image: postgres:latest
    environment:
      - POSTGRES_PASSWORD=CHANGE_ME
      - POSTGRES_USER=catalyst-event-dev
      - POSTGRES_DB=CatalystEventDev
    # it is useful to restart when developing, change according to your needs
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 2s
      timeout: 5s
      retries: 10
    ports:
      - 5432:5432
    volumes:
      - eventdb:/var/lib/postgresql/data

  migrations:
    image: migrations:latest
    environment:
      - DATABASE_URL=postgres://catalyst-event-dev:CHANGE_ME@postgres/CatalystEventDev
      - PGHOST=postgres
      - PGPORT=5432
      - PGUSER=catalyst-event-dev
      - PGPASSWORD=CHANGE_ME
      - PGDATABASE=CatalystEventDev
    depends_on:
      postgres:
        condition: service_healthy

  graphql:
    image: event-db-graphql:latest
    environment:
      - DATABASE_URL=postgres://catalyst-event-dev:CHANGE_ME@postgres/CatalystEventDev
      - JWT_SECRET=CHANGE_ME
      - GRAPHQL_PORT=5000
      - PGHOST=postgres
      - PGPORT=5432
      - PGUSER=catalyst-event-dev
      - PGPASSWORD=CHANGE_ME
      - PGDATABASE=CatalystEventDev
    ports:
      - 5000:5000
    depends_on:
      migrations:
        condition: service_completed_successfully

  leader0:
    image: voting-node:latest
    hostname: leader0
    depends_on:
      postgres:
        condition: service_started
    ports:
      - "5057:5057"
    env_file: .env
    environment:
      - EVENTDB_URL=postgres://catalyst-event-dev:CHANGE_ME@postgres/CatalystEventDev
    volumes:
      - leader0_store:/node_storage
    command: voting-node start

  leader1:
    image: voting-node:latest
    hostname: leader1
    depends_on:
      postgres:
        condition: service_started
    ports:
      - "6057:5057"
    env_file: .env
    environment:
      - EVENTDB_URL=postgres://catalyst-event-dev:CHANGE_ME@postgres/CatalystEventDev
    volumes:
      - leader1_store:/node_storage
    command: voting-node start

  leader2:
    image: voting-node:latest
    hostname: leader2
    depends_on:
      postgres:
        condition: service_started
    ports:
      - "7057:5057"
    env_file: .env
    environment:
      - EVENTDB_URL=postgres://catalyst-event-dev:CHANGE_ME@postgres/CatalystEventDev
    volumes:
      - leader2_store:/node_storage
    command: voting-node start

  otel-collector:
    image: otel/opentelemetry-collector:latest
    command: [ "--config=/etc/otel-collector.yaml" ]
    volumes:
      - ./extras/otel-collector.yaml:/etc/otel-collector.yaml
    ports:
      - "4317:4317"

  prometheus:
    image: prom/prometheus:latest
    restart: unless-stopped
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./extras/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"

  tempo:
    image: grafana/tempo:latest
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - ./extras/tempo-local.yaml:/etc/tempo.yaml
      - ./extras/tempo-data:/tmp/tempo
    ports:
      - "3200:3200"  # tempo
      - "4317"  # otlp grpc

  grafana:
    image: grafana/grafana:latest
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
    ports:
      - "3000:3000"
    volumes:
      - ./datasource.yml:/etc/grafana/provisioning/datasource.yml

volumes:
  eventdb:
  leader0_store:
  leader1_store:
  leader2_store:
