[package]
name = "chain-vote"
version = "0.1.0"
authors = ["Vincent Hanquez <vincent.hanquez@iohk.io>"]
edition = "2018"

[dependencies]
chain-core = { path = "../chain-core" }
rand = "0.8"
rand_core = "0.6"
rayon = "1.5"
thiserror = "1.0"
cryptoxide = "0.3"
eccoxide = {version = "0.3", optional = true }
curve25519-dalek-ng = { version = "4.0.1", optional = true}

[dev-dependencies]
rand_chacha = "0.3"
smoke = "^0.2.1"

criterion = "0.3"

[features]
default = ["p256k1"]
p256k1 = ["eccoxide"]
ristretto255 = ["curve25519-dalek-ng"]

[[bench]]
harness = false
name = "shvzk"

[[bench]]
harness = false
name = "curve"
