[package]
name = "mainnet-tools"
version = "0.1.0"
authors = ["dkijania <dariusz.kijania@iohk.io>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
uuid = { workspace = true }
hex = "0.4"
bech32 = "0.8.1"
structopt = "0.3"
thiserror = "1.0"
futures = "0.3.8"
serde_json = "1.0"
itertools = "0.10.5"
color-eyre = "0.6"
http-zipkin = "0.3.0"
signals-handler = { path = "../signals-handler" }
mainnet-lib = { path = "../mainnet-lib" }
chain-impl-mockchain = { path = "../../chain-libs/chain-impl-mockchain"}
voting_tools_rs = { path = "../../voting-tools-rs"}
serde = { version = "1", features = ["derive"] }
tokio = { version = "1.2", features = ["macros","rt","process"] }
jormungandr-lib = { path = "../../jormungandr/jormungandr-lib" }
jortestkit = { path = "../../jortestkit" }
jormungandr-automation = { path = "../../jormungandr/testing/jormungandr-automation" }
vit-servicing-station-tests = { path = "../../vit-servicing-station/vit-servicing-station-tests" }
vit-servicing-station-lib = { path = "../../vit-servicing-station/vit-servicing-station-lib" }
cardano-serialization-lib = "11.1.0"
scheduler-service-lib = { path = "../scheduler-service-lib"}
tempdir = "0.3.7"
num-traits = "0.2.15"
job_scheduler_ng = "*"
snapshot-lib = { path = "../../catalyst-toolbox/snapshot-lib", features=["proptest"] }
snapshot-trigger-service = { path = "../snapshot-trigger-service" }
clap = { version = "4", features = ["derive"] }
tracing = "0.1"
tracing-subscriber = "0.3"
warp = "0.3.3"
futures-util = "0.3.25"

assert_fs = "1.0"
prettytable-rs = "0.9.0"
