[package]
name = "wallet-uniffi"
version = "0.8.3"
edition = "2018"

[lib]
crate-type = [ "cdylib" ]
name = "uniffi_jormungandr_wallet"

[dependencies]
uniffi = "0.21"
uniffi_macros = "0.21"
wallet-core = { path = "../wallet-core" }
wallet = {path = "../../wallet"}
symmetric-cipher = {path = "../../symmetric-cipher"}
chain-vote = { path = "../../../chain-libs/chain-vote" }
chain-addr = { path = "../../../chain-libs/chain-addr" }
chain-impl-mockchain = { workspace = true }
chain-crypto = { path = "../../../chain-libs/chain-crypto" }
chain-time = { path = "../../../chain-libs/chain-time" }
chain-ser = { path = "../../../chain-libs/chain-ser" }
thiserror = {version = "1.0", default-features = false}

[build-dependencies]
uniffi_build = "0.21"

[features]
builtin-bindgen = ["uniffi_build/builtin-bindgen"]
