<?xml version="1.0" encoding="UTF-8" ?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="wallet-cordova-plugin" version="0.5.0-pre3">
    <name>Wallet Cordova Plugin</name>
    <description>Wallet Cordova Plugin</description>
    <license>MIT OR Apache-2.0 </license>
    <keywords>cordova,wallet</keywords>
    <repo></repo>

    <js-module src="www/wallet.js" name="wallet">
        <!-- this means we would use window.wallet to reference the plugin -->
        <clobbers target="wallet" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WalletPlugin">
                <param name="android-package" value="com.iohk.jormungandrwallet.WalletPlugin" />
            </feature>
        </config-file>

        <source-file src="src/android/WalletPlugin.java" target-dir="src/com/iohk/jormungandrwallet" />
        <source-file src="src/android/jormungandrwallet/Settings.java" target-dir="src/com/iohk/jormungandrwallet" />
        <source-file src="src/android/jormungandrwallet/Wallet.java" target-dir="src/com/iohk/jormungandrwallet" />
        <source-file src="src/android/jormungandrwallet/Conversion.java" target-dir="src/com/iohk/jormungandrwallet" />
        <source-file src="src/android/jormungandrwallet/Proposal.java" target-dir="src/com/iohk/jormungandrwallet" />
        <source-file src="src/android/jormungandrwallet/PendingTransactions.java" target-dir="src/com/iohk/jormungandrwallet" />
        <source-file src="src/android/jormungandrwallet/SymmetricCipher.java" target-dir="src/com/iohk/jormungandrwallet" />

        <source-file src="src/android/libs/x86/libwallet_jni.so" target-dir="libs/x86" />
        <source-file src="src/android/libs/x86_64/libwallet_jni.so" target-dir="libs/x86_64" />
        <source-file src="src/android/libs/arm64-v8a/libwallet_jni.so" target-dir="libs/arm64-v8a" />
        <source-file src="src/android/libs/armeabi-v7a/libwallet_jni.so" target-dir="libs/armeabi-v7a" />
    </platform>

    <platform name="electron">
        <config-file target="config.xml" parent="/*">
            <feature name="WalletPlugin">
                <param name="electron-package" value="WalletPlugin" />
            </feature>
        </config-file>

        <js-module src="src/electron/walletProxy.js" name="WalletProxy">
            <runs />
        </js-module>

        <js-module src="src/electron/bindings.js" name="bindings"></js-module>

        <js-module src="src/electron/pkg/wallet_js.js" name="wasmModule"></js-module>
        <asset src="src/electron/pkg/wallet_js_bg.wasm" target="wallet_js_bg.wasm" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="WalletPlugin">
                <param name="ios-package" value="WalletPlugin" />
            </feature>
        </config-file>

        <header-file src="src/ios/LibWallet.h" />
        <header-file src="src/ios/WalletPlugin.h" />
        <source-file src="src/ios/WalletPlugin.m" />
        <source-file src="src/ios/libjormungandrwallet.a" framework="true" />
    </platform>

    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="WalletPlugin">
                <param name="electron-package" value="WalletPlugin" />
            </feature>
        </config-file>

        <js-module src="src/browser/walletProxy.js" name="walletProxy">
            <runs />
        </js-module>

        <js-module src="src/electron/bindings.js" name="bindings"></js-module>

        <js-module src="src/electron/pkg/wallet_js.js" name="wasmModule"></js-module>
        <asset src="src/electron/pkg/wallet_js_bg.wasm" target="wallet_js_bg.wasm" />
    </platform>
</plugin>