<?xml version="1.0" encoding="UTF-8" ?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="wallet-cordova-plugin" version="0.8.3">
    <name>Wallet Cordova Plugin</name>
    <description>Wallet Cordova Plugin</description>
    <license>MIT OR Apache-2.0 </license>
    <keywords>cordova,wallet</keywords>
    <repo></repo>

    <js-module src="www/wallet.js" name="wallet">
        <!-- this means we would use window.wallet to reference the plugin -->
        <clobbers target="wallet" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WalletPlugin">
                <param name="android-package" value="com.iohk.jormungandr_wallet.WalletPlugin" />
            </feature>
        </config-file>

        <source-file src="src/android/WalletPlugin.kt" target-dir="src/main/kotlin/com/iohk/jormungandr_wallet" />
        <source-file src="src/android/jormungandr_wallet.kt" target-dir="src/main/kotlin/com/iohk/jormungandr_wallet" />

<!--         <framework src="net.java.dev.jna:jna:5.9.0" /> -->
        <framework src="src/android/jna-compile.gradle" custom="true" type="gradleReference" />


        <source-file src="src/android/libs/i686-linux-android/libuniffi_jormungandr_wallet.so" target-dir="libs/x86" />
        <source-file src="src/android/libs/x86_64-linux-android/libuniffi_jormungandr_wallet.so" target-dir="libs/x86_64" />
        <source-file src="src/android/libs/aarch64-linux-android/libuniffi_jormungandr_wallet.so" target-dir="libs/arm64-v8a" />
        <source-file src="src/android/libs/armv7a-linux-androideabi/libuniffi_jormungandr_wallet.so" target-dir="libs/armeabi-v7a" />
    </platform>

    <platform name="electron">
        <config-file target="config.xml" parent="/*">
            <feature name="WalletPlugin">
                <param name="electron-package" value="WalletPlugin" />
            </feature>
        </config-file>

        <js-module src="src/electron/walletProxy.js" name="WalletProxy">
            <runs />
        </js-module>

        <js-module src="src/electron/bindings.js" name="bindings"></js-module>

        <js-module src="src/electron/pkg/wallet_js.js" name="wasmModule"></js-module>
        <asset src="src/electron/pkg/wallet_js_bg.wasm" target="wallet_js_bg.wasm" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="WalletPlugin">
                <param name="ios-package" value="WalletPlugin" />
            </feature>
        </config-file>

        <header-file src="src/ios/LibWallet.h" />
        <header-file src="src/ios/WalletPlugin.h" />
        <source-file src="src/ios/WalletPlugin.m" />
        <source-file src="src/ios/libjormungandrwallet.a" framework="true" />
    </platform>

    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="WalletPlugin">
                <param name="electron-package" value="WalletPlugin" />
            </feature>
        </config-file>

        <js-module src="src/browser/walletProxy.js" name="walletProxy">
            <runs />
        </js-module>

        <js-module src="src/electron/bindings.js" name="bindings"></js-module>

        <js-module src="src/electron/pkg/wallet_js.js" name="wasmModule"></js-module>
        <asset src="src/electron/pkg/wallet_js_bg.wasm" target="wallet_js_bg.wasm" />
    </platform>
</plugin>