[package]
name = "snapshot-trigger-service"
version = "0.1.0"
authors = ["dkijania <dariusz.kijania@iohk.io>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
uuid = { version = "0.8", features = ["serde","v4"] }
chrono = { version = "0.4", features = ["serde"] }
walkdir = "2.3.1"
structopt = "0.3"
jortestkit = { path = "../../jortestkit" }
jormungandr-lib = { path = "../../jormungandr/jormungandr-lib" }
chain-addr = { path = "../../chain-libs/chain-addr" }
catalyst-toolbox = { path = "../../catalyst-toolbox/catalyst-toolbox", features=["test-api"]}
snapshot-lib = { path = "../../catalyst-toolbox/snapshot-lib" }
futures = "0.3.8"
assert_fs = "1.0"
serde = { version = "1", features = ["derive"] }
warp = "0.3"
thiserror = "1.0"
tokio = { version = "1.2", features = ["macros","rt","process"] }
serde_json = "1.0"
serde_yaml = "0.8"
signals-handler = { path = "../signals-handler" }
mainnet-tools = { path = "../mainnet-tools"}

[dependencies.reqwest]
version = "0.11"
default-features = false
features = ["blocking", "rustls-tls","json"]
