[package]
name = "imhamt"
version = "0.1.0"
authors = ["Vincent Hanquez <vincent.hanquez@iohk.io>"]
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
thiserror = "1.0"
proptest = { workspace = true, optional = true }
test-strategy = { version = "0.2", optional = true }

[dev-dependencies]
criterion = "0.3.0"
proptest = { workspace = true }
test-strategy = "0.2"
trybuild = "1"


[[bench]]
harness = false
name = "imhamt"

[features]
property-test-api = ["proptest", "test-strategy"]
nightly = []

[build-dependencies]
rustc_version = "0.4"
