[package]
authors = ["dev@iohk.io"]
description = "explorer service for jormungandr"
documentation = "https://github.com/input-output-hk/jormungandr#USAGE.md"
edition = "2021"
homepage = "https://github.com/input-output-hk/jormungandr#README.md"
license = "MIT OR Apache-2.0"
name = "explorer"
repository = "https://github.com/input-output-hk/jormungandr"
version = "0.9.1"

[dependencies]
assert_fs = "1.0.7"
futures = "0.3.5"
futures-channel = "0.3.5"
futures-util = "0.3.5"
async-graphql = "4.0.13"
async-graphql-warp = "4.0.13"
serde = {version = "1.0.114", features = ["derive"]}
serde_json = "1.0.81"
serde_yaml = "0.8.13"
structopt = "0.3.15"
thiserror = "1.0.20"
anyhow = "1.0.56"
url = { version = "2.1.1", features = ["serde"] }
warp = {version = "0.3.1", features = ["tls"]}
tracing = "0.1"
tracing-futures = "0.2"
tracing-subscriber = { version = "0.3", features = ["fmt", "json"] }
tracing-appender = "0.2"
tracing-opentelemetry = "0.18.0"
opentelemetry = { version = "0.18.0", features = ["rt-tokio"] }
opentelemetry-otlp = "0.11.0"
opentelemetry-semantic-conventions = "0.10.0"
tokio = { version = "^1.4", features = ["rt-multi-thread", "time", "sync", "rt", "signal", "test-util"] }
tokio-stream = { version = "0.1.4", features = ["sync"] }
tokio-util = { version = "0.6.0", features = ["time"] }
tonic = "0.6"
multiaddr = { package = "parity-multiaddr", version = "0.11" }
rand = "0.8.5"
rand_chacha = "0.3.0"
base64 = "0.13.0"
lazy_static = "1.4"
http-zipkin = "0.3.0"

jormungandr-lib = {path = "../jormungandr-lib"}
jormungandr-automation = { path = "../testing/jormungandr-automation" }
jormungandr-integration-tests = { path = "../testing/jormungandr-integration-tests" }
thor = { path = "../testing/thor" }

cardano-legacy-address = { path = "../../chain-libs/cardano-legacy-address" }
chain-addr = { path = "../../chain-libs/chain-addr" }
chain-core = { path = "../../chain-libs/chain-core" }
chain-crypto = { path = "../../chain-libs/chain-crypto" }
chain-impl-mockchain = { path = "../../chain-libs/chain-impl-mockchain" }
chain-time = { path = "../../chain-libs/chain-time" }
chain-vote = { path = "../../chain-libs/chain-vote" }
chain-ser = { path = "../../chain-libs/chain-ser" }
chain-network = { path = "../../chain-libs/chain-network" }
imhamt = { path = "../../chain-libs/imhamt" }

[features]
default = []
evm = ["chain-impl-mockchain/evm", "jormungandr-lib/evm"]
