<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../../../../vit_servicing_station_tests/common/data/struct.ReviewTemplate.html">
    <title>Redirection</title>
</head>
<body>
    <p>Redirecting to <a href="../../../../../../vit_servicing_station_tests/common/data/struct.ReviewTemplate.html">../../../../../../vit_servicing_station_tests/common/data/struct.ReviewTemplate.html</a>...</p>
    <script>location.replace("../../../../../../vit_servicing_station_tests/common/data/struct.ReviewTemplate.html" + location.search + location.hash);</script>
</body>
</html>