<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../../chain_network/data/fragment/struct.FragmentId.html">
    <title>Redirection</title>
</head>
<body>
    <p>Redirecting to <a href="../../../../chain_network/data/fragment/struct.FragmentId.html">../../../../chain_network/data/fragment/struct.FragmentId.html</a>...</p>
    <script>location.replace("../../../../chain_network/data/fragment/struct.FragmentId.html" + location.search + location.hash);</script>
</body>
</html>