[package]
name = "vit-servicing-station-tests"
version = "0.1.0"
authors = ["dkijania <dariusz.kijania@iohk.io>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
base64 = "0.12.1"
cfg-if = "0.1"
chrono = { version = "0.4", features = ["serde"] }
diesel = { version = "1.4.4", features = ["sqlite", "r2d2"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.53"
structopt = "0.3.14"
thiserror = "1.0"
tokio = { version = "0.2.21", features = ["macros"] }
diesel_migrations = "1.4.0"
tempfile = "3"
rand_core = "0.5"
assert_fs = "1.0.0"
assert_cmd = "1.0.1"
askama = "0.8"
askama_shared = "0.8"
hyper = "0.13.6"
vit-servicing-station-lib = {path= "../vit-servicing-station-lib"}
lazy_static = "1.4"
rand = "0.7"
predicates = { version = "1.0", default-features = false, features = ["difference"] }
jortestkit = { path = "./jortestkit"}
fake = { version = "2.2", features=['chrono','http']}

#diesel doesn't have an way to create empty db
#rustqlite is used for that purpose
rusqlite = "0.23"

[dependencies.reqwest]
version = "0.10.6"
default-features = false
features = ["blocking"]

# This solves building on windows when sqlite3lib is not installed or missing in the `$PATH`
# as it happens with the github actions pipeline associated to this project.
[target.'cfg(windows)'.dependencies]
libsqlite3-sys =  { version = "0.9.1", features = ["bundled"] }

[features]
test-api = []
non-functional = []



