name: CI-Tests

on:
  push:
    branches: [ "main" ]
    paths-ignore: ["README.md", "CODE_OF_CONDUCT.md", "CONTRIBUTING.md"]
  pull_request:
    paths-ignore: ["README.md", "CODE_OF_CONDUCT.md", "CONTRIBUTING.md"]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -D warnings
  RUST_BACKTRACE: 1
  CARGO_INCREMENTAL: 0

jobs:
  vit_servicing_station:
    name: Vit Servicing Station Tests
    runs-on: ubuntu-latest
    env:
      CARGO_FLAGS: --verbose --locked
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: Swatinem/rust-cache@v2
      - name: Install Nextest
        run: curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C ${CARGO_HOME:-~/.cargo}/bin
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Install deps
        run:
          sudo apt install -y protobuf-compiler libssl-dev libpq-dev libsqlite3-dev pkg-config

      - name: Run vit-ss tests
        uses: actions-rs/toolchain@v1
        with:
          toolchain: "1.65"  # it says it can read the rust-toolchain file, but it fails if we omit this
      - run: |
          source <(cargo llvm-cov show-env --export-prefix)
          cargo build -p vit-servicing-station-cli -p vit-servicing-station-server
          cargo nextest run \
            -p vit-servicing-station-cli \
            -p vit-servicing-station-lib \
            -p vit-servicing-station-tests \
            -p vit-servicing-station-server \
            --profile ci

  catalyst_toolbox:
    name: Catalyst Toolbox Tests
    runs-on: ubuntu-latest
    env:
      CARGO_FLAGS: --verbose --locked
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: Swatinem/rust-cache@v2
      - name: Install Nextest
        run: curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C ${CARGO_HOME:-~/.cargo}/bin
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Install deps
        run:
          sudo apt install -y protobuf-compiler libssl-dev libpq-dev libsqlite3-dev pkg-config

      - name: Run catalyst-toolbox tests
        uses: actions-rs/toolchain@v1
        with:
          toolchain: "1.65"  # it says it can read the rust-toolchain file, but it fails if we omit this
      - run: |
          source <(cargo llvm-cov show-env --export-prefix)
          cargo nextest run -p catalyst-toolbox -p snapshot-lib --profile ci

  voting_tools:
    name: Voting Tools Tests
    runs-on: ubuntu-latest
    env:
      CARGO_FLAGS: --verbose --locked
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: Swatinem/rust-cache@v2
      - name: Install Nextest
        run: curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C ${CARGO_HOME:-~/.cargo}/bin
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Install deps
        run:
          sudo apt install -y protobuf-compiler libssl-dev libpq-dev libsqlite3-dev pkg-config

      - name: Run voting-tools tests
        uses: actions-rs/toolchain@v1
        with:
          toolchain: "1.65"  # it says it can read the rust-toolchain file, but it fails if we omit this
      - run: |
          source <(cargo llvm-cov show-env --export-prefix)
          cargo nextest run -p voting_tools_rs --profile ci

  chain-libs:
    name: Chain Libs Tests
    runs-on: ubuntu-latest
    env:
      CARGO_FLAGS: --verbose --locked
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: Swatinem/rust-cache@v2
      - name: Install Nextest
        run: curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C ${CARGO_HOME:-~/.cargo}/bin
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Install deps
        run:
          sudo apt install -y protobuf-compiler libssl-dev libpq-dev libsqlite3-dev pkg-config

      - name: Run chain-libs tests
        uses: actions-rs/toolchain@v1
        with:
          toolchain: "1.65"  # it says it can read the rust-toolchain file, but it fails if we omit this
      - run: |
          source <(cargo llvm-cov show-env --export-prefix)
          cargo nextest run -p "chain-*" --profile ci

  jormungandr:
    name: Jormungandr Tests
    runs-on: ubuntu-latest
    env:
      CARGO_FLAGS: --verbose --locked
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: Swatinem/rust-cache@v2
      - name: Install Nextest
        run: curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C ${CARGO_HOME:-~/.cargo}/bin
      - name: Install deps
        run:
          sudo apt install -y protobuf-compiler libssl-dev libpq-dev libsqlite3-dev pkg-config

      - name: Run jormungandr tests
        uses: actions-rs/toolchain@v1
        with:
          toolchain: "1.65"  # it says it can read the rust-toolchain file, but it fails if we omit this
      - run: |
          source <(cargo llvm-cov show-env --export-prefix)
          cargo nextest run -p jormungandr --profile ci

  jormungandr-integration:
    name: Jormungandr Integration Tests
    runs-on: ubuntu-latest
    env:
      CARGO_FLAGS: --verbose --locked
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: Swatinem/rust-cache@v2
      - name: Install Nextest
        run: curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C ${CARGO_HOME:-~/.cargo}/bin
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Install deps
        run:
          sudo apt install -y protobuf-compiler libssl-dev libpq-dev libsqlite3-dev pkg-config

      - name: Run jormungandr-integration tests
        uses: actions-rs/toolchain@v1
        with:
          toolchain: "1.65"  # it says it can read the rust-toolchain file, but it fails if we omit this
      - run: |
          source <(cargo llvm-cov show-env --export-prefix)
          cargo build -p jcli -p jormungandr -p explorer
          cargo nextest run -p jormungandr-integration-tests --profile ci

      - name: Generate lcov.info
        run: cargo llvm-cov report --lcov --output-path ./lcov.info

      - name: Upload code coverage to coveralls.io
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: "./lcov.info"

  wallet-js-binding:
    name: Wallet JS Binding Tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable

    - uses: jetli/wasm-pack-action@v0.3.0
      with:
        version: 'latest'

    - name: Build wasm package
      run: |
        cd src/chain-wallet-libs/bindings/wallet-wasm-js
        wasm-pack build --release --target=nodejs -d pkg

    - name: Build JS package
      run: |
        cd src/chain-wallet-libs/bindings/wallet-wasm-js/js
        rm package.json
        cp package_test.json package.json
        npm install

    - name: Run JS tests
      run: |
        cd src/chain-wallet-libs/bindings/wallet-wasm-js/js-test
        npm install
        npm test

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: Swatinem/rust-cache@v2
      - name: Install deps
        run:
          sudo apt install -y protobuf-compiler libssl-dev libpq-dev libsqlite3-dev pkg-config
      - name: Clippy and fmt
        uses: actions-rs/toolchain@v1
        with:
          toolchain: "1.65"  # it says it can read the rust-toolchain file, but it fails if we omit this
          components: rustfmt, clippy
      - run: scripts/check-fmt.sh
