name: CI-Tests

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'src/**/**.md'
      - 'Makefiles/**'
      - 'nix/**'
      - 'book/**'
  pull_request:
    paths-ignore:
       - '**.md'
       - 'book/**'
       - 'src/**/**.md'
       - 'Makefiles/**'
       - 'nix/**'
       - 'book/**'

env:
  RUST_LATEST_STABLE_VERSION: 1.65
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -D warnings
  RUST_BACKTRACE: 1
  CARGO_INCREMENTAL: 0
  CARGO_FLAGS: --verbose --locked

jobs:
  cancel:
    name: 'Cancel Previous Runs'
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

  build-tests-artifacts:
    name: Build test artifacts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{env.RUST_LATEST_STABLE_VERSION}}

      - name: Cache rust
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: "test_cache"
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Install nextest
        uses: taiki-e/install-action@nextest

      - name: Install deps
        run:
          sudo apt install -y protobuf-compiler libssl-dev libpq-dev libsqlite3-dev pkg-config

      - name: Build extra deps
        run:
          cargo build -p vit-servicing-station-cli -p vit-servicing-station-server -p jcli -p jormungandr -p explorer

      - name: Build and archive tests
        run: cargo nextest archive --archive-file nextest-archive.tar.zst

      - name: Save external dependencies
        uses: actions/cache/save@v3
        with:
          path: |
                  target/debug/vit-servicing-station-cli
                  target/debug/vit-servicing-station-server
                  target/debug/jcli
                  target/debug/jormungandr
                  target/debug/explorer
          key: deps-${{ github.run_id }}-${{ github.run_attempt }}

      - name: Save test archive
        uses: actions/cache/save@v3
        with:
          path: nextest-archive.tar.zst
          key: nextest-archive-${{ github.run_id }}-${{ github.run_attempt }}

  catalyst-core-tests:
    name: Catalyst Core Tests
    runs-on: ubuntu-latest
    needs: build-tests-artifacts
    strategy:
      matrix:
        partition: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{env.RUST_LATEST_STABLE_VERSION}}

      - name: Cache rust
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: "test_cache"
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Restore test archive
        uses: actions/cache/restore@v3
        with:
          path: nextest-archive.tar.zst
          key: nextest-archive-${{ github.run_id }}-${{ github.run_attempt }}

      - name: Restore external dependencies
        uses: actions/cache/restore@v3
        with:
          path: |
                  target/debug/vit-servicing-station-cli
                  target/debug/vit-servicing-station-server
                  target/debug/jcli
                  target/debug/jormungandr
                  target/debug/explorer
          key: deps-${{ github.run_id }}-${{ github.run_attempt }}

      - name: Install nextest
        uses: taiki-e/install-action@nextest

      - name: Install dependencies
        run:
          sudo apt install -y protobuf-compiler libssl-dev libpq-dev libsqlite3-dev pkg-config

      - name: Run Catalyst Core tests
        run: |
          cargo nextest run \
          -E "not (package(vitup) + package(mainnet-lib) + package(jortestkit) + package(integration-tests) + test(multi_voteplan_ok_private))" \
          --archive-file nextest-archive.tar.zst --extract-to "/home/runner/work/catalyst-core-fork/catalyst-core-fork" \
          --extract-overwrite --partition count:${{ matrix.partition }}/10 --profile ci

  cleanup-cache:
    name: Clean up run cache
    runs-on: ubuntu-latest
    needs: catalyst-core-tests
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Clean up archive and deps cache
        run: |
          gh extension install actions/gh-actions-cache
          ## Setting this to not fail the workflow while deleting cache keys.
          set +e
          echo "Deleting caches..."
          gh actions-cache delete nextest-archive-${{ github.run_id }}-${{ github.run_attempt }} --confirm
          gh actions-cache delete deps-${{ github.run_id }}-${{ github.run_attempt }} --confirm
          echo "Done"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  wallet-js-binding:
    name: Wallet JS Binding Tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable

    - uses: jetli/wasm-pack-action@v0.3.0
      with:
        version: 'latest'

    - name: Build wasm package
      run: |
        cd src/chain-wallet-libs/bindings/wallet-wasm-js
        wasm-pack build --release --target=nodejs -d pkg

    - name: Build JS package
      run: |
        cd src/chain-wallet-libs/bindings/wallet-wasm-js/js
        rm package.json
        cp package_test.json package.json
        npm install

    - name: Run JS tests
      run: |
        cd src/chain-wallet-libs/bindings/wallet-wasm-js/js-test
        npm install
        npm test

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Cache rust
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: "test_cache"
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Install dependencies
        run:
          sudo apt install -y protobuf-compiler libssl-dev libpq-dev libsqlite3-dev pkg-config

      - name: Clippy and fmt
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{env.RUST_LATEST_STABLE_VERSION}}
          components: rustfmt, clippy

      - run: scripts/check-fmt.sh