name: GitHub Pages

on: 
  push:
    paths:
      - 'book/src/**'
      - '**.md'
      - 'LICENSE-APACHE'
      - 'LICENSE-MIT'
      - 'src/jormungandr/jormungandr-lib/src/interfaces/block0_configuration/BLOCKCHAIN_CONFIGURATION_DOCUMENTED_EXAMPLE.yaml'
      - 'src/jormungandr/jormungandr-lib/src/interfaces/CONFIG_PARAMS_DOCUMENTED_EXAMPLE.yaml'
      - 'book.toml'
      - 'Makefile.toml'
      - 'Makefiles/docs.toml'
  pull_request:
    paths:
      - 'book/src/**'
      - '**.md'
      - 'LICENSE-APACHE'
      - 'LICENSE-MIT'
      - 'src/jormungandr/jormungandr-lib/src/interfaces/block0_configuration/BLOCKCHAIN_CONFIGURATION_DOCUMENTED_EXAMPLE.yaml'
      - 'src/jormungandr/jormungandr-lib/src/interfaces/CONFIG_PARAMS_DOCUMENTED_EXAMPLE.yaml'
      - 'book.toml'
      - 'Makefile.toml'
      - 'Makefiles/docs.toml'

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v3

      - name: Build Docs
        uses: docker://ghcr.io/input-output-hk/catalyst-gh-tools:v1.0
        with:
          entrypoint: cargo
          args: make build-docs

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book/html