name: Javascript wallet binding

on:
  push:
    branches: [ "feature/npg-3884-setup-js-ci" ]
  pull_request:
    branches: [ "main" ]

jobs:
  wallet-js-binding:
    name: Wallet Javascript binding
    permissions: 
      contents: read
      packages: write 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable

    - uses: jetli/wasm-pack-action@v0.3.0
      with:
        # Optional version of wasm-pack to install(eg. 'v0.9.1', 'latest')
        version: 'latest'
    
    - name: Build wasm package
      run: |
        cd src/chain-wallet-libs/bindings/wallet-js
        wasm-pack build --release --target=nodejs -d pkg
        echo $(jq '. |= . + {"publishConfig": {"registry": "https://npm.pkg.github.com"}}' pkg/package.json) >| pkg/package.json
        echo $(jq '.name="@input-output-hk/catalyst-core"' pkg/package.json) >| pkg/package.json
        cat pkg/package.json

    - name: JS tests
      run: |
        cd src/chain-wallet-libs/bindings/wallet-js/js-test
        npm install
        npm test
      
    # - name: Authenticate with the GitHub Package Registry
    #   run: |
    #     cd src/chain-wallet-libs/bindings/wallet-js/pkg
    #     echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" > .npmrc
    #     cat .npmrc
    
    - name: Publish
      run: |
        cd src/chain-wallet-libs/bindings/wallet-js/pkg
        echo "@input-output-hk:registry=https://npm.pkg.github.com" > .npmrc
        echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" > .npmrc
        cat .npmrc
        npm install
        npm ci
        npm publish
  