name: Release JavaScript Wallet

on:
  push:
    tags:
      - walletjs-*

jobs:
  # initial_release:
  #   name: Publish wasm package
  #   runs-on: ubuntu-latest
  #   outputs:
  #     upload_url: ${{ steps.create_release.outputs.upload_url }}
  #     version: ${{ steps.get_version.outputs.version }}
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v3

  #     - name: Create Release
  #       id: create_release
  #       uses: actions/create-release@v1
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #       with:
  #         tag_name: ${{ github.ref }}
  #         release_name: Release ${{ github.ref }}
  #         draft: true
  #         prerelease: false

  #     - name: Set version output
  #       id: get_version
  #       run: echo ::set-output name=version::``${GITHUB_REF#refs/tags/}``

  release_wallet_js:
    name: Release wallet js assets
    # needs: initial_release
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target: [
                nodejs, 
                # web,
                # bundler
                ]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
            node-version: '16.x'
            registry-url: 'https://registry.npmjs.org'

      - name: Install wasm pack
        uses: jetli/wasm-pack-action@v0.3.0
        with:
          version: 'latest'

      - name: Build
        run: |
          cd src/chain-wallet-libs
          wasm-pack build \
            -d pkg \
            --scope catalyst-core \
            --release --target ${{ matrix.target }} \
            bindings/wallet-wasm-js
          rm bindings/wallet-wasm-js/pkg/README.md
          cp bindings/wallet-wasm-js/package_README.md bindings/wallet-wasm-js/pkg/README.md
          cat bindings/wallet-wasm-js/pkg/package.json

      - name: Pack wasm package
        run: |
          cd src/chain-wallet-libs
          wasm-pack pack bindings/wallet-wasm-js

      - name: Publish wasm package
        run: |
          cd src/chain-wallet-libs/bindings/wallet-wasm-js/pkg
          npm publish --access=public
        env:
            NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publish api package
        run: |
          cd src/chain-wallet-libs/bindings/wallet-wasm-js/js
          npm install
          npm publish --access=public
        env:
            NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
