name: Markdown Lint

on:
  push:
    branches:
      - main
      - gh-readonly-queue/main/**
  pull_request:

jobs:
  lint:
    name: Markdown Lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: tj-actions/changed-files@v35
      id: changed-files
      with:
        files: 'book/src/**/*.md'
        separator: ","
    - uses: DavidAnson/markdownlint-cli2-action@v9
      if: steps.changed-files.outputs.any_changed == 'true'
      with:
        globs: ${{ steps.changed-files.outputs.all_changed_files }}
        separator: ","
