<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../chain_impl_mockchain/header/struct.VrfProof.html">
    <title>Redirection</title>
</head>
<body>
    <p>Redirecting to <a href="../../../chain_impl_mockchain/header/struct.VrfProof.html">../../../chain_impl_mockchain/header/struct.VrfProof.html</a>...</p>
    <script>location.replace("../../../chain_impl_mockchain/header/struct.VrfProof.html" + location.search + location.hash);</script>
</body>
</html>